<?xml version="1.0"?>
<config>
    <modules>
        <Diglin_Username>
            <version>2.0.1</version>
        </Diglin_Username>
    </modules>
    <default>
        <username>
            <general>
                <enabled>1</enabled>
                <frontend>0</frontend>
                <grid>1</grid>
                <max_length>30</max_length>
                <min_length>6</min_length>
                <input_validation>default</input_validation>
                <case_sensitive>1</case_sensitive>
            </general>
         </username>
    </default>

    <global>
        <fieldsets>
            <customer_account>
                <username><create>1</create><update>1</update><to_order>customer_username</to_order><to_quote>customer_username</to_quote></username>
            </customer_account>
            <checkout_onepage_billing>
                <username><to_customer>*</to_customer></username>
            </checkout_onepage_billing>
            <checkout_onepage_quote>
                <customer_username><to_customer>username</to_customer></customer_username>
            </checkout_onepage_quote>
            <sales_convert_quote>
                <customer_username><to_order>*</to_order></customer_username>
            </sales_convert_quote>
            <sales_convert_quote_address>
                <username><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></username>
            </sales_convert_quote_address>
            <sales_convert_order>
                <customer_username><to_quote>*</to_quote></customer_username>
            </sales_convert_order>
        </fieldsets>

        <helpers>
            <username>
                <class>Diglin_Username_Helper</class>
            </username>
        </helpers>

        <blocks>
        	<username>
        		<class>Diglin_Username_Block</class>
        	</username>
            <adminhtml>
                <rewrite>
                	<customer_grid>Diglin_Username_Block_Overwrite_Adminhtml_Grid</customer_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
        	<username>
        		<class>Diglin_Username_Model</class>
        	</username>
            <customer>
                <rewrite>
                    <customer>Diglin_Username_Model_Customer</customer>
                    <form>Diglin_Username_Model_Form</form>
                    <setup>Diglin_Username_Model_Setup</setup>
                    <config_share>Diglin_Username_Model_Config_Share</config_share>
                </rewrite>
            </customer>
            <customer_entity>
                <rewrite>
                    <customer>Diglin_Username_Model_Entity_Customer</customer>
                </rewrite>
            </customer_entity>
            <customer_resource>
                <rewrite>
                    <customer>Diglin_Username_Model_Entity_Customer</customer>
                </rewrite>
            </customer_resource>
            <importexport>
                <rewrite>
                    <import_entity_customer>Diglin_Username_Model_Import_Entity_Customer</import_entity_customer>
                </rewrite>
            </importexport>
        </models>

        <resources>
            <username_setup>
                <setup>
                    <module>Diglin_Username</module>
                    <class>Diglin_Username_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>default_setup</use>
                </connection>
            </username_setup>
        </resources>

        <events>
            <customer_customer_authenticated>
                <observers>
                    <customer_observer>
                        <type>singleton</type>
                        <class>username/observer</class>
                        <method>isActive</method>
                    </customer_observer>
                </observers>
            </customer_customer_authenticated>
        </events>
    </global>

    <frontend>
        <routers>
            <customer>
                <args>
                    <modules>
                        <username before="Mage_Customer">Diglin_Username</username>
                    </modules>
                </args>
            </customer>
        </routers>

        <translate>
            <modules>
                <Diglin_Username>
                    <files>
                        <default>Diglin_Username.csv</default>
                    </files>
                </Diglin_Username>
            </modules>
        </translate>
        <layout>
            <updates>
                <username>
                    <file>username.xml</file>
                </username>
            </updates>
        </layout>
    </frontend>

    <adminhtml>
		<events>
			<admin_system_config_changed_section_username>
				<observers>
					<change_eav_username>
						<class>username/observer</class>
						<method>changeEavAttribute</method>
					</change_eav_username>
				</observers>
			</admin_system_config_changed_section_username>

			<eav_collection_abstract_load_before>
				<observers>
					<customer_load_collection>
						<class>username/observer</class>
						<method>addAttributeToCollection</method>
					</customer_load_collection>
				</observers>
			</eav_collection_abstract_load_before>
		</events>
    </adminhtml>
    
    <uninstall>
        <filename>uninstall.txt</filename>
    </uninstall>
</config>
