<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <diglin>
            <label>Diglin</label>
            <sort_order>400</sort_order>
        </diglin>
    </tabs>
    
    <sections>
        <username translate="label" module="username">
            <label>Username</label>
            <tab>diglin</tab>
            <frontend_type>text</frontend_type>
            <sort_order>120</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <hint>
                    <frontend_model>username/overwrite_adminhtml_config_source_hint</frontend_model>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </hint>
                <general>
                    <label>General configuration</label>
                        <frontend_type>text</frontend_type>
                        <sort_order>1</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>
                        <comment><![CDATA[]]></comment>    
                        <fields>
                            <enabled>
                                <label>Enable Username Support</label>
                                <frontend_type>select</frontend_type>
                                <source_model>adminhtml/system_config_source_yesno</source_model>
                                <sort_order>1</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>
                                <comment><![CDATA[Enable username support in your store]]></comment>
                            </enabled>
                            <frontend>
                                <label>Allow frontend edit</label>
                                <frontend_type>select</frontend_type>
                                <source_model>adminhtml/system_config_source_yesno</source_model>
                                <sort_order>10</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>
                                <comment><![CDATA[Allow the customer to edit his username in "My Account"]]></comment>
                            </frontend>
                            <grid>
                                <label><![CDATA[Display username in "Manage Customers" Grid]]></label>
                                <frontend_type>select</frontend_type>
                                <source_model>adminhtml/system_config_source_yesno</source_model>
                                <sort_order>20</sort_order>
                                <show_in_default>1</show_in_default>
                                <comment><![CDATA[Do you want to display the field 'Username' in the Manage Customer Grid?]]></comment>
                            </grid>
                            <max_length>
                            	<label>Maximum length of the username</label>
                                <frontend_type>text</frontend_type>
                                <sort_order>30</sort_order>
                                <show_in_default>1</show_in_default>
                                <comment><![CDATA[What is the maximum length of the string username that you want to accept? By default, it's 30 characters ]]></comment>
                            </max_length>
                            <min_length>
                            	<label>Minimum length of the username</label>
                                <frontend_type>text</frontend_type>
                                <sort_order>40</sort_order>
                                <show_in_default>1</show_in_default>
                                <comment><![CDATA[What is the minimum length of the string username that you want to accept? By default, it's 6 characters ]]></comment>
                            </min_length>
                            <input_validation>
								<label>Input Validation</label>
                                <frontend_type>select</frontend_type>
                                <source_model>username/config_source_inputvalidation</source_model>
                                <sort_order>50</sort_order>
                                <show_in_default>1</show_in_default>
                                <comment><![CDATA[What kind of username do you want to accept? You can set the value 'Default' which accept letters, digits and the special characters '_-' ]]></comment>                            	
                            </input_validation>
                            <case_sensitive>
                                 <label>Case Sensitive Username</label>
                                <frontend_type>select</frontend_type>
                                <source_model>adminhtml/system_config_source_yesno</source_model>
                                <sort_order>60</sort_order>
                                <show_in_default>1</show_in_default>
                                <comment><![CDATA[Do you want to make the username case sensitive? If not case sensitive, the username will be saved in lowercase. The idea to save in lowercase is to not irritate the user in case he provides a wrong username case.]]></comment>
                            </case_sensitive>
                        </fields>
                </general>
            </groups>
        </username>
    </sections>
</config>